{{define "errors/405"}}
{{template "header" .}}
{{template "navbar" .}}

<div class="body-content error-page">
  <div class="container text-center">
    <h2>МЕТОД ЗАПРОСА НЕ ПОДДЕРЖИВАЕТСЯ</h2>
    <h3>405</h3>
    <p>Перейти на <a href="/">Главную страницу</a> сайта.</p>
  </div>
</div>

{{template "footer" .}}
{{end}}
