{{define "errors/500"}}
{{template "header" .}}
{{template "navbar" .}}

<div class="body-content error-page">
  <div class="container text-center">
    <h2>НЕПРЕДВИДЕННАЯ ОШИБКА</h2>
    <h3>500</h3>
    <p>Перейти на <a href="/">Главную страницу</a> сайта.</p>
  </div>
</div>

{{template "footer" .}}
{{end}}
