// reassign or declare new bootstrap variables here
// $fa-font-path : "../fonts";
$primary: darken(#428bca, 6.5%); // #337ab7
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

$body-bg: #eaf0f3 !default;
$body-color: #224055;

$table-border-color: #636c72 !default;

$inverse-bg: #292b2c !default;

$navbar-dark-color: #fff !default;
$navbar-dark-hover-color: #fff !default;
$navbar-dark-active-color: #fff !default;

// My Variables

$navbar-bg: #5499c9;
$header-height: 150px;
$navbar-height: 65px;
$footer-bg: #306292;
$footer-color: #fff;