{{define "emails/forgot"}}
<html>
  <head>
  </head>
  <body>

    <p>Для восстановления пароля перейдите по ссылке: <a href='{{fullResetURL .User.ForgotHash}}'>восстановление пароля</a>.</p>
    <p>Если Вы не запрашивали восстановление пароля, проигнорируйте это сообщение.</p>

    <p>&nbsp;</p>
    <p>Данное письмо было отправлено автоматически, отвечать на него не нужно.</p>

  </body>
</html>
{{end}}
