{{define "emails/reset"}}
<html>
  <head>
  </head>
  <body>

    <p>Пароль для вашей учетной записи был успешно изменен.</p>
    <p>Если Вы не производили восстановление пароля, свяжитесь с администратором.</p>

    <p>&nbsp;</p>
    <p>Данное письмо было отправлено автоматически, отвечать на него не нужно.</p>
    
  </body>
</html>
{{end}}
